services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file:
      - ./server/.env
    ports:
      - "${SERVER_PORT}:3000"
    environment:
      - PORT=${SERVER_INTERNAL_PORT}
    depends_on:
      - mongo
    restart: unless-stopped

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_GITHUB_CLIENT_ID: ${VITE_GITHUB_CLIENT_ID}
    ports:
      - "${CLIENT_PORT}:80"
    depends_on:
      - server
    restart: unless-stopped


  mongo:
    image: mongo:8.0
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    networks:
      - default

networks:
  default:
    driver: bridge

volumes:
  mongo-data:
    driver: local
